#SeqEditorLeftPane {
	-fx-background-color: red;
}

#SeqEditorRightPane {
	-fx-background-color: blue;
}

#SeqEditorRtPaneAnchor {
	-fx-background-color: green;
}

#SeqEditorTimelineContainer{
	-fx-background-color: aqua;
}

#TimelineContainer {
	-fx-background-color: black;
}

#TimelinePane {
	-fx-background-color: pink;
}

#SeqPreviewLeft {
	-fx-background-color: red;
}

#SeqPreviewRt {
	-fx-background-color: blue;
}

#SeqPreviewRtTop {
	-fx-background-color: green;
}

#SeqPreviewRtBottom {
	-fx-background-color: yellow;
}

#VisSchem {
	-fx-background-color: blue;
}
#VisSchemSchematic {
	-fx-background-color: red;
}

#VisSchemVisual{
	-fx-background-color: orange;
}



/*
 * .menuItem {
	How to edit menu widths?
}
#Container {
	-fx-background-color: blue;
}
#BottomPane {
	-fx-pref-height: 100;
	-fx-background-color: orange;
}
#LeftPane {
	-fx-pref-width: 250;
	-fx-background-image: url("background.jpg");
}

#RightPane {
	-fx-background-color: green;
}
*/