/* Nicer styling */

.root {
	-fx-background-color: #535353;
}

.label {
	-fx-font-size: 12px;
	-fx-text-fill: #ffffff;
	/* -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5), 0, 0, 0, 1); */
}

.radio-button {
	-fx-text-fill: #ffffff;
}

.menu-bar {
	-fx-background-color: #262626;
}

.menu-item:focused {
	-fx-background-color: #535353;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #535353;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #262626;
}

.tab-header-background {
	-fx-background-color: #3e3e3e;
}

.tab {
	-fx-background-color: #262626;
}

.tab-label {
	-fx-text-fill: #ffffff;
}

.button {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#262626, #3e3e3e);
	-fx-border-color: #000000;
	-fx-border-radius: 2px;
	/*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);*/
}

.button:hover {
	-fx-background-color: linear-gradient(#3e3e3e, #262626);
}

.split-pane-divider {
	-fx-background-color: #262626;
}

/* Error Messages */
.error {
	-fx-background-color: #cc0000;
	-fx-font-weight: bold;
}

/* Warning notifications */
.warning {
	-fx-background-color: yellow;
}

/* Notification Messages */
.notification {
	-fx-background-color: green;
	-fx-font-weight: bold;
}

/* Schematic View Styling */
.universe-green {
	-fx-fill: lightgreen;
}

.universe-firing {
	-fx-fill: orange;
}

.universe-selected {
	-fx-fill: blue;
}

.squib-group-overlay {
	-fx-fill: rgba(255, 0, 0, 0.4);
	-fx-stroke: rgba(0, 0, 0, 0.7);
}

.scroll-pane > .viewport {
   -fx-background-color: #737373;
   -fx-border-radius: 5px;
   -fx-background-radius: 5px;
   -fx-border-color: #262626;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.scroll-container {
	-fx-padding: 0 0 10px 0;
}

#playButton {
	-fx-background-radius: 20px;
	-fx-border-radius: 20px;
	-fx-border-color: transparent;
	-fx-background-image: url("play.png");
	
}

#pauseButton {
	-fx-background-radius: 20px;
	-fx-border-radius: 20px;
	-fx-border-color: transparent;
	-fx-background-image: url("pause.png");

}

#SeqEditorLeftPane, #squibsToPlace {
	-fx-background-color: #535353;
}

#SeqEditorRightPane {
	-fx-background-color: #535353;
}

#SeqEditorRtPaneAnchor {
	-fx-background-color: #535353;
}

#SeqEditorTimelineContainer{
	/* -fx-background-color: aqua; */
}

#TimelineContainer {
	/*-fx-background-color: black;*/
	-fx-spacing: 6px;
}

#Timeline {
	-fx-spacing: 5px;
}

.TimelinePane {
	/*-fx-background-color: pink;*/
	-fx-padding: 10px 0 0 0;
}

#SeqPreviewLeft {
	-fx-background-color: #535353;
}

#SeqPreviewRt {
	-fx-background-color: #535353;
}

#SeqPreviewRtTop {
	-fx-background-color: #535353;
}

#SeqPreviewRtBottom {
	-fx-background-color: #535353;
}

#VisSchem {
	-fx-background-color: #535353;
}
#VisSchemSchematic {
	-fx-background-color: #262626;
}

#VisSchemVisual{
	-fx-background-color: orange;
}


/* Obnoxious colors
#SeqEditorLeftPane {
	-fx-background-color: #ff0000;
}

#SeqEditorRightPane {
	-fx-background-color: blue;
}

#SeqEditorRtPaneAnchor {
	-fx-background-color: green;
}

#SeqEditorTimelineContainer{
	-fx-background-color: aqua;
}

#TimelineContainer {
	-fx-background-color: black;
}

#TimelinePane {
	-fx-background-color: pink;
}

#SeqPreviewLeft {
	-fx-background-color: red;
}

#SeqPreviewRt {
	-fx-background-color: blue;
}

#SeqPreviewRtTop {
	-fx-background-color: green;
}

#SeqPreviewRtBottom {
	-fx-background-color: yellow;
}

#VisSchem {
	-fx-background-color: blue;
}
#VisSchemSchematic {
	-fx-background-color: red;
}

#VisSchemVisual{
	-fx-background-color: orange;
}
*/


/*
 * .menuItem {
	How to edit menu widths?
}
#Container {
	-fx-background-color: blue;
}
#BottomPane {
	-fx-pref-height: 100;
	-fx-background-color: orange;
}
#LeftPane {
	-fx-pref-width: 250;
	-fx-background-image: url("background.jpg");
}

#RightPane {
	-fx-background-color: green;
}
*/